.tree {
    text-align: center;
}

.tree ul {
    padding: 0;
}

.tree li {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

.tree .node {
    display: inline-block;
    padding: 8px 15px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 75px;
}